@import-normalize; /* bring in normalize.css styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2, 0, 36);
    background: linear-gradient(333deg, rgba(2, 0, 36, 1) 0%, rgba(63, 9, 121, 0.3533788515406162) 43%, rgba(0, 212, 255, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 15px;
    text-align: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  cursor: pointer;
}